body {
    margin: 0px;
    height: 100%;
    background-color: rgb(14, 14, 14);
}

.header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 350px;
    font-weight: bolder;
}

.h1 {
    font-weight: bolder;
    color: red;
    font-size: 100px;
    margin-top: 150px;
    margin-left: 150px;
}

.half {
    display: flex;

}

h2 {
    font-weight: bolder;
    color: gray;
    font-size: 40px;
    /* margin-top: 150px;*/
    margin-left: 150px;

}

img {
    margin-left: 150px;
    margin-top: 100px;
}

.i {
    margin-top: 550px;
    margin-left: 70px;
}