.inner-circle {
    background-color: green;
    width: 200px;
    height: 200px;

    border-radius: 100px;
    border-style: solid;
    border-color: greenyellow;
    /* border-spacing: 70px; */
    display: flex;


    margin: 50px;
}

.outer-circle {
    align-items: center;
    margin: 10px;
    background-color: green;
    width: 200px;
    height: 200px;

    border-radius: 100px;
    border-style: solid;
    border-color: greenyellow;
    display: flex;
}