.box1 {
    display: flex;
    gap: 25px;
}



.box3 {
    display: flex;
    gap: 25px;
}

.z1 {
    height: 200px;
    width: 200px;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    display: flex;
}

.z2 {
    height: 72.5px;
    width: 200px;
    background-color: lime;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    display: flex;
}

.z3 {
    height: 100px;
    width: 100px;
    background-color: pink;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    display: flex;
}

.z4a {
    margin-top: 25px;
    height: 45px;
    width: 72.5px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    display: flex;
}

.z4b {
    margin-top: 10px;
    height: 45px;
    width: 72.5px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    display: flex;
}