.blue {
    background-color: rgb(77, 77, 238);
    width: fill;
    height: 600px;
    z-index: 1;
}

.flex {
    display: flex;
    gap: 30px;
}

.box1,
.box3,
.box2 {
    height: 200px;
    width: 250px;
    background-color: gray;
    justify-content: center;
    align-content: center;
    z-index: 2;
    margin-left: 200px;
    margin-top: 500px;
}