.box1 {
    width: 700px;
    height: 50px;
    background-color: yellow;
    border-style: solid;
    border-color: black;
    font-weight: bold;
}

.innerbox1 {
    width: 250px;
    height: 150px;
    background-color: yellow;
    position: absolute;
    align-items: center;
    border-style: solid;
    border-color: black;
    /* border-width: 10px; */
    margin-bottom: 30cm;
    margin-top: 1cm;
    margin-left: 1cm;
    padding: 10px;
    z-index: 5;


}

.innerbox2 {
    width: 350px;
    height: 250px;
    background-color: white;
    border-style: solid;
    position: absolute;
    align-items: center;
    z-index: 4;
    margin-top: 20px;
    margin-left: 22.5px;

}

.innerbox3 {
    width: 400px;
    height: 300px;
    background-color: blue;
    border-style: solid;
    position: absolute;
    align-items: center;
    z-index: 3;
    margin-left: 100px;
}

.p1 {
    font-weight: bold;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    margin-right: 30px;
    position: absolute;
    z-index: 6;
}

.outerbox {
    width: 700px;
    height: 350px;
    background-color: pink;
    border-style: solid;
    position: relative;
    align-items: center;
    z-index: 1;
}

.line1 {
    width: 5px;
    height: 350px;
    background-color: white;
    position: absolute;
    z-index: 2;
    margin-left: 50px;
}

.line2 {
    width: 5px;
    height: 350px;
    background-color: white;
    position: absolute;
    z-index: 2;
    margin-left: 600px;
}