body {
    background-image: url("https://img.freepik.com/free-photo/observation-urban-building-business-steel_1127-2397.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    background-blend-mode: lighten;
}