.img1 {
    background-image: url("img.jpeg");
    border-radius: 50%;
    width: 600px;
    height: 600px;
    margin-left: 400px;
    position: relative;
    z-index: 1;

}

.img2 {
    background-image: url("img2.jpeg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
    margin-top: 350px;

}

.box {
    height: 300px;
    width: 250px;
    background-color: white;
    justify-items: center;
    align-content: center;
    border-radius: 10%;
    position: absolute;
    z-index: 3;
    padding-left: 15px;
    margin-left: 450px;
    margin-top: 250px;
}

h3 {
    padding-right: 15px;
}

body {
    background-color: lightgreen;

}